.auth-page {
  @include flex-center(column);
  min-height: 100vh;
  transition: background-color 0.3s ease;
  padding: 40px 20px;

  &__settings {
    @include flex-center;
    gap: 12px;
    z-index: 10;
    @include mobile {
      flex-flow: column;
    }
  }
}